<header>
  <p class="header">
    <img class="left-arrow rotate180" src="http://i1316.photobucket.com/albums/t610/Alex_Holmes/Arrow_zps3667764e.png" alt="arrow" />
    <p class="header-board">
    <!-- {{#if hoardOpen}}
      <a {{action 'hoardFormControlDown'}}>hoard</a>
      {{new-hoard save2="save3"}}
      <span></span>
    {{else}}
      <a {{action 'hoardFormControlPlus'}}>hoard</a>
    {{/if}} -->
      <a href="/">board</a>
    </p>
    <img class="right-arrow" src="http://i1316.photobucket.com/albums/t610/Alex_Holmes/Arrow_zps3667764e.png" alt="arrow" />
  </p>
</header>
<div class="containers">
  {{outlet}}
</div>
