<div class="hoarded">
  <div class="hoarded-header text-center">
    <span class="h2">{{model.question}}</span><br>
    <span class="h4">by</span><br>
    <span class="h3">{{model.name}}</span><br>
      <!-- {{update-hoard hoard.id update="update"}} -->
  </div>
  <div class="hoarded-body text-center">
    <span class="h3">Potential Answer: {{model.answer}}</span>
  </div><br>
  <p class="text-center">
    other answers:
  </p>
  {{comment-tile hoard=model.comments}}

  {{new-comment hoard=model saveComment="saveComment"}}
</div>
